@import "settings";
@import "foundation";

.guest-login {
  font-size: 1.2em;
}

.social {
  list-style: none;
}

.social li {
  display: inline-block;
  padding: 0 15px;
}

.hero-bg {
  border-radius: 5px;
}
